[Desktop Entry]
#Version=0.9
Type=Application
Name=jASTERIX Client
Comment=EUROCONTROL's ASTERIX Decoder
#TryExec=atsdb-client
Exec=bin/jasterix_client -f
#Icon=/usr/local/atsdb/data/icons/atsdb.png
Icon=atsdb
Categories=Science;NumericalAnalysis;
#MimeType=image/x-foo;
#Actions=Gallery;Create;

#[Desktop Action Gallery]
#Exec=fooview --gallery
#Name=Browse Gallery

#[Desktop Action Create]
#Exec=fooview --create-new
#Name=Create a new Foo!
#Icon=fooview-new
Name[en_US]=jasterix.desktop
